.root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  color: white;
}

#myThreeJsCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}